:root {
  --white: #ffffff;
  --red: #e50914;
  --black: #000000;
  --grey: #323133;
  --grey-light: #828282;
  --red-light: #fe4242;
}

body {
  background-image: url("./img/bac.jpg");
  /* width: 100%; */
  left: 0px;
  top: 0px;
  z-index: -5;
}

.container {
  background: var(--black);
}

#logo {
  color: var(--red);
  font-size: 2.8rem;
  font-weight: bold;
  letter-spacing: -3px;
  padding-left: 2rem!important;

}

#logo:hover {
  color: var(--red-light);
  cursor: pointer;
}

#Iniciasesión {
  font-size: 2rem;
  padding-right: 2rem!important;
}

#label {
  font-size: 1rem;
  transition: 0.3s;
}

.container {
  opacity: 0.8;
}
#form input {
  height: 3.5rem;
}

#btn {
  font-size: 1.3rem;
}

#recordar {
  font-size: 1rem;
}

#lang {
  width: 8rem;
  height: 2.5rem;
  background: var(--black);
  color: rgba(255, 255, 255, 0.71);
}

.footer {
  background: rgba(0, 0, 0, 0.612);
  padding-left: 4rem;
}

.footer a {
  color: rgba(255, 255, 255, 0.639);
  text-decoration: none;
}

.footer a:hover {
  color: var(--white);
}

@media all and (min-width: 1024px) and (max-width: 1280px) {


  
}