.busqueda-contenedor {
  display: flex;
  justify-content: center;
}

.caja-busqueda {
  position: relative;
}

.btn-buscar {
  position: absolute;
  width: 20px;
  height: 20px;

  right: 15px;
  bottom: 25px;
  cursor: pointer;

  border: none;
  background: none;
}

.btn-buscar:hover {
  position: absolute;
  right: 15px;
  bottom: 25px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: var(--grey);
  border: none;
  background: none;
}

.inputBusqueda {
  width: 300px;
  height: 35px;
  border-radius: 10px;
  border: none;
  padding: 5px 40px 5px 10px;
}

.inputBusqueda:active {
  border: none !important;
}
.btn-danger {
  width: 100px !important;
}
