/* body {
  margin: auto;
} */

.card {
  width: 25%;
  margin: .8rem 1.5rem;
}

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5%;
  padding-top: 0;
}

#paginacion {
  display: flex;
  justify-content: center;
  padding: 2rem;
}