*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --main:#D93636;
  --secoundary: #D93240;
  --white: #fff;
  --card-background: #dedecd;
  --text: #000000;
  --container: #D93636;
}
body{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 /*  background-color: var(--text); */
  background: #000000! important; /* fallback for old browsers */
 /*  background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
 /*  background: linear-gradient(to right, #6A82FB, #FC5C7D); */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  
}